<h3>{{'Skill' | translate}}</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->

    <div ng-hide="Skill.inserting || Skill.editing" data-component="crn-datasource-filter" id="crn-datasource-filter-general" class="">
        <div class="form-group">
            <label for="textinput-filter" class="">{{"template.crud.search" | translate}}</label>
            <input ng-model="vars.search" cronapp-filter="skill;skillCat.category" cronapp-filter-operator="" cronapp-filter-autopost="true" crn-datasource="Skill" class="form-control" value="" placeholder="{search}" ______placeholder="{{'template.crud.search' | translate}}" cronapp-filter-caseinsensitive="true" type="text">
        </div>
    </div>

<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="Skill.startInserting()" ng-hide="Skill.inserting || Skill.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Skill" entity="api/cronapi/crud/app.entity.Skill" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Skill">
    <div crn-datasource="Skill" class="" ng-hide="Skill.editing || Skill.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">{{'Skill' | translate}}</div>
                </th>
                <th class="">
                    <div class="">{{'SkillCat' | translate}}</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.skill  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.skillCat.category}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Skill">
    <div class="form" ng-show="Skill.editing || Skill.inserting">
        <form crn-datasource="Skill" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-skill" class="">
                    <div class="form-group">
                        <label for="textinput-skill" class="">{{'Skill' | translate}}</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input ng-model="Skill.active.skill" class="form-control" id="textinput-skill" placeholder="Skill" mask="" mask-placeholder="" ng-required="false" type="text">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Skillcat" entity="api/cronapi/crud/app.entity.SkillCat" keys="id" class="" dependent-by="{{Skill}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-skillCat" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-skillCat" class="">{{'SkillCat' | translate}}</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="Skill.active.skillCat" crn-datasource="Skillcat" class="crn-select" id="combobox-dynamic-skillCat" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.category}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.category}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
